{
  "presets": ["env", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "babel-plugin-transform-object-rest-spread",
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
