.router {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  //background: linear-gradient(to left, #028090, #00A896);
}

.route {
  //
}
